In [ ]:
import kagglehub
import os
import pandas as pd
from datetime import datetime

# === 1) Cria pasta destino se não existir ===
RAW_PATH = "../dados/raw/"
os.makedirs(RAW_PATH, exist_ok=True)

# === 2) Baixa o dataset automaticamente do Kaggle ===
print("Baixando o dataset 'The Movies Dataset' do Kaggle...")
path = kagglehub.dataset_download("rounakbanik/the-movies-dataset")
print("Download concluído em:", path)

# === 3) Lista os arquivos baixados ===
print("\nArquivos disponíveis:")
for f in os.listdir(path):
    print(" -", f)

# === 4) Lê alguns arquivos principais ===
movies = pd.read_csv(os.path.join(path, "movies_metadata.csv"), low_memory=False)
credits = pd.read_csv(os.path.join(path, "credits.csv"))
#ratings = pd.read_csv(os.path.join(path, "ratings.csv"))

print("\nDimensões das tabelas:")
print("Movies:", movies.shape)
print("Credits:", credits.shape)
#print("Ratings:", ratings.shape)

# === 5) Salva cópias dos arquivos originais na pasta dados/raw ===
print("\nSalvando cópias em dados/raw ...")
movies.to_csv(os.path.join(RAW_PATH, "movies_metadata.csv"), index=False)
credits.to_csv(os.path.join(RAW_PATH, "credits.csv"), index=False)
#ratings.to_csv(os.path.join(RAW_PATH, "ratings.csv"), index=False)
print("Arquivos copiados com sucesso!")

# === 6) Exibe amostras para validação ===
print("\nPrévia dos dados:")
display(movies.head(3))
display(credits.head(3))
#display(ratings.head(3))

Baixando o dataset 'The Movies Dataset' do Kaggle...
Downloading from https://www.kaggle.com/api/v1/datasets/download/rounakbanik/the-movies-dataset?dataset_version_number=7...

100%|██████████| 228M/228M [00:25<00:00, 9.29MB/s]

Extracting files...

Download concluído em: /Users/eduardofontelles/.cache/kagglehub/datasets/rounakbanik/the-movies-dataset/versions/7

Arquivos disponíveis:
 - links_small.csv
 - links.csv
 - credits.csv
 - movies_metadata.csv
 - ratings.csv
 - ratings_small.csv
 - keywords.csv

Dimensões das tabelas:
Movies: (45466, 24)
Credits: (45476, 3)
Ratings: (26024289, 4)

Salvando cópias em dados/raw ...
Arquivos copiados com sucesso!

Prévia dos dados:

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523